<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="./egret/libs/modules/egret/egret.js"></script>
    <script type="text/javascript" src="./egret/libs/modules/egret/egret.web.js"></script>
    <script type="text/javascript" src="./egret/libs/modules/res/res.js"></script>
    <script type="text/javascript" src="./egret/libs/modules/eui/eui.js"></script>
    <script type="text/javascript" src="./egret/libs/modules/tween/tween.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>