.second-skin {
    width: 100%;
    height: 100%;
    background-color: rgb(77, 72, 13)
}

.second-skin .text {
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: azure;
    cursor: default;
}

.second-skin .btn {
    position: fixed;
    top: 50%;
    left: calc(50% - 3rem);
    width: 6rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1rem;
    color: azure;
    background-color: brown;
    cursor: pointer;
}